<!DOCTYPE html>
 <footer>
        <nav>
            <a href="https://github.com/Aboomar524">Github</a>
            <a href="https://aboomar524.github.io/">Github.io</a>
            <a href="https://aboomar524.github.io/web215/">WEB215.io</a>
            <a href="https://www.freecodecamp.org/AhmadAlhomair">freeCodeCamp</a>
            <a href="https://www.codecademy.com/profiles/ahmadAlHomair9297602551">Codecademy</a>
            <a href="https://jsfiddle.net/u/abobana1/fiddles/">JSFiddle</a>
            <a href="https://www.linkedin.com/in/ahmad-al-homair/">LinkedIn</a>
        </nav>
        <p>
            Designed by <a href="card.html" target="_blank" style="color: #ff801e;">Ahmad Alhomair</a>, certified in 
            <a href="https://www.freecodecamp.org/certification/AhmadAlhomair/responsive-web-design" target="_blank" style="color: #ff801e;">
                Responsive Web Design
            </a> and 
            <a href="https://www.freecodecamp.org/certification/AhmadAlhomair/javascript-algorithms-and-data-structures-v8" target="_blank" style="color: #ff801e;">
                JavaScript Algorithms and Data Structures
            </a> 
            &copy;2025
        </p>
        <p><em>"Be with God and you will see God with you"</em></p>
    </footer>