<!DOCTYPE html>

<header>
  <h1>Ahmad Alhomair's Adventurous Anaconda | WEB215</h1>
  <nav>
      <ul class="navbar">
          <li><a href="index.html">Home</a></li>
          <li><a href="introduction.html">Introduction</a></li>
          <li><a href="contract.html">Contract</a></li>
          <li><a href="https://taskmanger-app-1.onrender.com/">MERN Tutorial</a></li>
          <li><a href="users.html">Users</a></li>
          <li><a href="my_project_description.html">My app description</a></li> 
          <li><a href="birthday.html">Birthday Tracker</a></li> 
          </li><a href="birthday-tracker-app/index.html" target="_blank">Birthday Tracker App</a></li>

      </ul>
  </nav>
</header>
