[data-theme='light'] {
  --color-background-base: #f0f8ff;
  --color-background-end: #ffffff;
  --color-foreground: #483d8b;
  --color-header: #4b0082;
  --color-link: #8a2be2;
  --color-link-hover: #5d3fd3;
  --color-table-background: #fdfdfd;
  --color-table-header-foreground: #ffffff;
  --color-table-header-background: #4b0082;
  --color-table-border: #483d8b;
  --color-button-background: #4b0082;
  --color-button-foreground: #f0f8ff;
  --color-button-hover-background: #5d3fd3;
  --color-button-active-background: #483d8b;
}

[data-theme='dark'] {
  --color-background-base: #2f4f4f;
  --color-background-end: #000000;
  --color-foreground: #d3d3d3;
  --color-header: #daa520;
  --color-link: #ffd700;
  --color-link-hover: #ffb14e;
  --color-table-background: #3d3d3d;
  --color-table-header-background: #daa520;
  --color-table-header-foreground: #000000;
  --color-table-border: #d3d3d3;
  --color-button-background: #daa520;
  --color-button-foreground: #1c1c1c;
  --color-button-hover-background: #FFD700;
  --color-button-active-background: #FFB14E;
}

:root {
  --primary-color: #0d1f2d;
  /* Dark Blue */
  --secondary-color: #546a7b;
  /* Medium Gray */
  --accent-color: #e06b6b;
  /* Adjusted Light Pink for better contrast */
  --background-color: #f4f4f9;
  /* Light Grayish Background */
  --text-color: #212121;
  /* Adjusted for better contrast */
  --highlight-color: #d1c200;
  /* Darker Yellow for better contrast */
  --link-hover-color: #bf9000;
  /* Adjusted hover color for contrast */
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}